[submodule "cmake"]
	path = cmake
	url = https://github.com/jorisv/jrl-cmakemodules
[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/Simple-Robotics/tracy.git
	branch = patches
