[workspace]
name = "aligator"
version = "0.16.0"
channels = ["conda-forge"]
description = "A primal-dual augmented Lagrangian-type solver for trajectory optimization"
platforms = ["linux-64", "osx-64", "osx-arm64"]
license = "BSD-2-Clause"
license-file = "LICENSE"
readme = "README.md"
repository = "https://github.com/Simple-Robotics/aligator"
preview = ["pixi-build"]

[package]
name = { workspace = true }
version = { workspace = true }

[package.build]
backend = { name = "pixi-build-cmake", version = "*" }

[package.build.config]
extra-args = [
  "-DBUILD_TESTING=OFF",
  "-DGENERATE_PYTHON_STUBS=ON",
  "-DBUILD_WITH_PINOCCHIO_SUPPORT=ON",
  "-DBUILD_CROCODDYL_COMPAT=ON",
  "-DBUILD_WITH_OPENMP_SUPPORT=ON",
  "-DBUILD_BENCHMARKS=OFF",
  "-DBUILD_EXAMPLES=OFF",
]

[package.build-dependencies]
pkg-config = ">=0.29.2"

[package.host-dependencies]
libboost-devel = ">=1.86.0,<2"
libboost-python-devel = ">=1.86.0,<2"
eigen = ">=3.4.0,<4"
python = ">=3.9.22"
eigenpy = "*"
fmt = ">=11.1.4"
typed-argument-parser = ">=1.10.1,<2"
mimalloc = ">=3.1.5,<4"
pinocchio = ">=3.8.0"
crocoddyl = ">=3.0.1"

[package.target.linux.host-dependencies]
libgomp = ">=14.2"

[package.target.osx.host-dependencies]
llvm-openmp = ">=19.1"


[dependencies]
cmake = ">=3.22"
ccache = ">=4.9.1"
cxx-compiler = ">=1.7.0"
pkg-config = ">=0.29.2"
libboost-devel = ">=1.86.0,<2"
libboost-python-devel = ">=1.86.0,<2"
eigen = ">=3.4.0,<4"
python = ">=3.10.19"
eigenpy = ">=3.12.0"
fmt = ">=11.1.4"
benchmark = ">=1.9.4,<2"
pytest = ">=8.3.5,<9"
matplotlib-base = ">=3.9.4,<4"
typed-argument-parser = ">=1.10.1,<2"
meshcat-python = ">=0.3.2,<0.4"
catch2 = ">=3.8.0,<4"
mimalloc = ">=3.1.5,<4"

[activation]
scripts = ["development/pixi/activation.sh"]

[tasks]
# We must avoid to set CMAKE_CXX_FLAGS because of WIN32
# https://discourse.cmake.org/t/strictly-appending-to-cmake-lang-flags/6478
configure = { cmd = [
  "CXXFLAGS=$ALIGATOR_CXX_FLAGS",
  "cmake",
  "-G",
  "Ninja",
  "-B",
  "build",
  "-S",
  ".",
  "-DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX",
  "-DCMAKE_BUILD_TYPE=$ALIGATOR_BUILD_TYPE",
  "-DBUILD_WITH_PINOCCHIO_SUPPORT=$ALIGATOR_PINOCCHIO_SUPPORT",
  "-DBUILD_CROCODDYL_COMPAT=$ALIGATOR_CROCODDYL_COMPAT",
  "-DBUILD_WITH_OPENMP_SUPPORT=$ALIGATOR_OPENMP_SUPPORT",
  "-DBUILD_BENCHMARKS=$ALIGATOR_BENCHMARKS",
  "-DBUILD_EXAMPLES=$ALIGATOR_EXAMPLES",
  "-DGENERATE_PYTHON_STUBS=$ALIGATOR_PYTHON_STUBS",
] }
build = { cmd = "cmake --build build --target all", depends-on = ["configure"] }
clean = { cmd = "rm -rf build" }
doc = { cmd = "cmake --build build --target doc", depends-on = ["configure"] }
test = { cmd = "ctest --test-dir build --output-on-failure", depends-on = [
  "build",
] }

[feature.lint]
dependencies = { pre-commit = ">=4.3.0" }
tasks = { lint = { cmd = "pre-commit run --all" } }

# Increment the version number with ALIGATOR_VERSION variable
[feature.new-version.dependencies]
tomlkit = ">=0.13.2"

[feature.new-version.tasks]
configure-new-version = { cmd = [
  "CXXFLAGS=$ALIGATOR_CXX_FLAGS",
  "cmake",
  "-G",
  "Ninja",
  "-B",
  "build-new-version",
  "-S",
  ".",
  "-DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX",
  "-DCMAKE_BUILD_TYPE=$ALIGATOR_BUILD_TYPE",
  "-DBUILD_WITH_PINOCCHIO_SUPPORT=ON",
  "-DBUILD_CROCODDYL_COMPAT=ON",
  "-DBUILD_WITH_OPENMP_SUPPORT=ON",
  "-DBUILD_BENCHMARKS=ON",
  "-DBUILD_EXAMPLES=ON",
  "-DGENERATE_PYTHON_STUBS=ON",
] }
release-new-version = { cmd = "VERSION=$ALIGATOR_VERSION cmake --build build-new-version --target release", depends-on = [
  "configure-new-version",
] }

[activation.env]
CMAKE_CXX_COMPILER_LAUNCHER = "ccache"
CMAKE_EXPORT_COMPILE_COMMANDS = "ON"
CMAKE_COLOR_DIAGNOSTICS = "ON"
# Help ccache manage generated files and PCH (https://ccache.dev/manual/latest.html#_precompiled_headers)
CCACHE_SLOPPINESS = "include_file_ctime,include_file_mtime,pch_defines,time_macros"

# tracy-client is not built on osx-arm64
[feature.tracy]
[feature.tracy.target.linux-64]
dependencies = { tracy-client = ">=0.11.1" }
activation = { env = { ALIGATOR_TRACY_ENABLE = "ON" } }
[feature.tracy.target.osx-64]
dependencies = { tracy-client = ">=0.11.1" }
activation = { env = { ALIGATOR_TRACY_ENABLE = "ON" } }

[feature.pinocchio]
dependencies = { pinocchio = ">=3.8.0", example-robot-data-loaders = ">=4" }
activation = { env = { ALIGATOR_PINOCCHIO_SUPPORT = "ON" } }

[feature.crocoddyl]
dependencies = { crocoddyl = ">=3.0.1" }
activation = { env = { ALIGATOR_CROCODDYL_COMPAT = "ON" } }

# Not supported by Windows (because of conda-forge issue)
[feature.openmp]
[feature.openmp.target.linux]
dependencies = { libgomp = ">=14.2" }
activation = { env = { ALIGATOR_OPENMP_SUPPORT = "ON" } }
[feature.openmp.target.osx]
dependencies = { llvm-openmp = ">=19.1" }
activation = { env = { ALIGATOR_OPENMP_SUPPORT = "ON" } }

[feature.python-latest.dependencies]
python = ">=3.14.0"

[feature.python-oldest.dependencies]
python = "3.10.*"

# Use clang on GNU/Linux.
# We must use scripts instead of env to setup CC and CXX
# to avoid cxx-compiler to overwrite them.
[feature.clang]
platforms = ["linux-64"]
activation = { env = { CC = "clang", CXX = "clang++" } }
dependencies = { clangxx = "*" }

[feature.test-pixi-build.dependencies]
aligator = { path = "." }
cmake = ">=3.22"
python = "*"

[feature.test-pixi-build.tasks]
test-cmake = "cmake -S unittest/packaging/cmake -B build_test_pixi_build"
test-python = "python -c 'import eigenpy'"
test = { depends-on = ["test-cmake", "test-python"] }

[feature.doc.dependencies]
doxygen = ">=1.13"
graphviz = ">=12"

[environments]
default = { features = ["python-latest"], solve-group = "python-latest" }
clang = { features = ["clang", "python-latest"] }
lint = { features = ["lint"], solve-group = "python-latest" }
pinocchio = { features = ["pinocchio", "python-latest"], solve-group = "python-latest" }
crocoddyl = { features = ["crocoddyl", "python-latest"], solve-group = "python-latest" }
openmp = { features = ["openmp", "python-latest"], solve-group = "python-latest" }
tracy = { features = ["tracy", "python-latest"], solve-group = "python-latest" }
python-oldest = { features = ["python-oldest"], solve-group = "python-oldest" }
all = { features = [
  "doc",
  "pinocchio",
  "crocoddyl",
  "openmp",
  "python-latest",
], solve-group = "python-latest" }
all-python-oldest = { features = [
  "doc",
  "pinocchio",
  "crocoddyl",
  "openmp",
  "python-oldest",
], solve-group = "python-oldest" }
new-version = { features = [
  "new-version",
  "pinocchio",
  "crocoddyl",
  "openmp",
  "python-latest",
], solve-group = "python-latest" }
test-pixi-build = { features = ["test-pixi-build"], no-default-feature = true }
